In [6]:
import pandas as pd
data = pd.read_csv('hw_DE_12.csv')
df = pd.DataFrame(data)
df

,id,first_name,last_name,email,gender,ip_address
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34
...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8

Задача 1

In [13]:
df_women = df.query("gender == 'Female' & ip_address.str.startswith('1')")
df_women_full_name = df_women[['first_name', 'last_name']]
df_women_full_name

    first_name   last_name
8        Kaile  Clementson
10      Melosa     Boneham
11       Deina    Frisdick
15       Mamie  Wainwright
25      Ysabel  Aitchinson
..         ...         ...
980     Pennie     Itzhaki
984       Lula       Almon
989  Francesca    Shorrock
993  Morganica     Pierton
997   Natalina   Clavering

[216 rows x 2 columns]

Задача 2

In [11]:
df['domain'] = df['email'].str.extract(r'@(.+)')
df

,id,first_name,last_name,email,gender,ip_address,domain
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,buzzfeed.com
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,dyndns.org
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,dyndns.org
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,psu.edu
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,prlog.org
...,...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,craigslist.org
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,nydailynews.com
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,jugem.jp
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,discovery.com
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,google.es

Задача 3

In [13]:
unigue_values = df['domain'].unique()
unigue_values

array(['buzzfeed.com', 'dyndns.org', 'psu.edu', 'prlog.org',
       'mozilla.org', 'eepurl.com', 'github.io', 'rediff.com',
       'newsvine.com', 'quantcast.com', 'bbc.co.uk', 'squarespace.com',
       'si.edu', 'about.com', 'studiopress.com', 'wufoo.com',
       'cornell.edu', 'jiathis.com', 'walmart.com', 'aboutads.info',
       'simplemachines.org', 'flavors.me', 'hostgator.com', 'baidu.com',
       'woothemes.com', 'networksolutions.com', 'redcross.org',
       'globo.com', 'nhs.uk', 'sogou.com', 'berkeley.edu', 'fotki.com',
       'sitemeter.com', 'ifeng.com', 'bloglovin.com', 'google.com.hk',
       'soup.io', 'vkontakte.ru', 'accuweather.com', 'springer.com',
       'npr.org', 'addtoany.com', 'dailymotion.com', 'sciencedirect.com',
       'wikia.com', 'apache.org', 'youku.com', 'toplist.cz', 'tmall.com',
       'blinklist.com', 'phoca.cz', 'abc.net.au', 'indiegogo.com',
       'istockphoto.com', 'sbwire.com', 'economist.com', 'usatoday.com',
       'netlog.com', 'blogspot.com', 'drupal.org', 'harvard.edu', 'ow.ly',
       'usgs.gov', 'mlb.com', 'answers.com', 'instagram.com', 'uiuc.edu',
       'a8.net', 'stanford.edu', 'columbia.edu', 'devhub.com', 'tiny.cc',
       'irs.gov', 'dropbox.com', 'latimes.com', 'wp.com', 'is.gd',
       'themeforest.net', 'barnesandnoble.com', 'jalbum.net', 'yale.edu',
       'home.pl', 'mac.com', 'over-blog.com', 'biblegateway.com',
       'google.it', 'technorati.com', 'craigslist.org', 'clickbank.net',
       'edublogs.org', 'de.vu', 'princeton.edu', 'cisco.com', 'slate.com',
       'dot.gov', 'php.net', 'rambler.ru', 'un.org', 'foxnews.com',
       'github.com', 'nih.gov', 'tripod.com', 'digg.com', 'zdnet.com',
       'networkadvertising.org', 'ustream.tv', 'newyorker.com', 'icio.us',
       'mayoclinic.com', 'goo.ne.jp', 'qq.com', 'loc.gov',
       'chicagotribune.com', 'japanpost.jp', 'cbsnews.com', 'nps.gov',
       'scribd.com', 'google.co.jp', 'guardian.co.uk', 'amazonaws.com',
       'gmpg.org', 'reddit.com', 'wikipedia.org', 'csmonitor.com',
       'angelfire.com', 'w3.org', 'g.co', 'zimbio.com', 'virginia.edu',
       'smugmug.com', 'typepad.com', 'pen.io', 'xing.com', 'gravatar.com',
       'adobe.com', 'oaic.gov.au', 'unc.edu', 'google.com.br',
       'biglobe.ne.jp', 'photobucket.com', 'myspace.com', 'java.com',
       'ucsd.edu', 'state.tx.us', 'cbc.ca', 'naver.com', 'blog.com',
       'hubpages.com', 'merriam-webster.com', 'freewebs.com',
       'bizjournals.com', 'state.gov', 'discuz.net', 'skyrock.com',
       'bigcartel.com', 'linkedin.com', 'msn.com', 'statcounter.com',
       'yandex.ru', 'utexas.edu', 'omniture.com', 'spotify.com',
       'theatlantic.com', 'acquirethisname.com', 'cloudflare.com',
       'com.com', 'nsw.gov.au', 'hp.com', 'hud.gov', 'marketwatch.com',
       'godaddy.com', 'about.me', 'microsoft.com', 'jugem.jp',
       'salon.com', 'oakley.com', 'imdb.com', 'patch.com', 'ft.com',
       'shareasale.com', 'ed.gov', 'desdev.cn', 'china.com.cn',
       'house.gov', 'elpais.com', 'shinystat.com', 'yahoo.co.jp',
       '1und1.de', 'gov.uk', 'wired.com', 'people.com.cn', 'nifty.com',
       'sourceforge.net', 'google.com.au', 'smh.com.au', 'bravesites.com',
       'google.nl', 'google.co.uk', 'cnet.com', 'histats.com',
       'sphinn.com', 'census.gov', 'goodreads.com', '123-reg.co.uk',
       'cdc.gov', 'exblog.jp', 'deliciousdays.com', 'ucoz.ru',
       'symantec.com', 'booking.com', 'alibaba.com', 'sun.com',
       'constantcontact.com', 'netscape.com', 'webeden.co.uk',
       'hao123.com', 'usda.gov', 'time.com', 'dedecms.com', 'go.com',
       'example.com', 'dailymail.co.uk', 'oracle.com',
       'pagesperso-orange.fr', 'flickr.com', 'storify.com',
       'wikimedia.org', 'ucla.edu', 'rakuten.co.jp', 'multiply.com',
       'theglobeandmail.com', 'bloglines.com', 't-online.de',
       'cargocollective.com', 'tamu.edu', 'ycombinator.com',
       'weather.com', 'nba.com', 'twitter.com', 'wix.com', 'marriott.com',
       'reference.com', 'e-recht24.de', 'homestead.com', 'jimdo.com',
       'ted.com', 'nytimes.com', 'joomla.org', 'nyu.edu', 'imgur.com',
       'feedburner.com', 'cnn.com', 'businessweek.com', 'cnbc.com',
       'sina.com.cn', 'wsj.com', 'webmd.com', 'skype.com', 'behance.net',
       'noaa.gov', 'bluehost.com', 'google.ca', 'gizmodo.com', 'ftc.gov',
       'xrea.com', 'furl.net', 'dmoz.org', 'addthis.com', 'youtube.com',
       'surveymonkey.com', 'umich.edu', 'arstechnica.com',
       'tripadvisor.com', 'ibm.com', 'boston.com', 'bing.com', '163.com',
       'wordpress.com', 'engadget.com', 'gnu.org', 'twitpic.com',
       'vk.com', 'ucoz.com', 'ihg.com', 'weibo.com', 'nbcnews.com',
       'who.int', 'cocolog-nifty.com', 'delicious.com', 'prweb.com',
       'mashable.com', 'washingtonpost.com', 'theguardian.com',
       'altervista.org', 'howstuffworks.com', 'timesonline.co.uk',
       'hugedomains.com', 'stumbleupon.com', 'ca.gov', 'mail.ru',
       'nymag.com', 'etsy.com', 'reverbnation.com', 'ox.ac.uk', 'fda.gov',
       'aol.com', 'europa.eu', 'cyberchimps.com', 'sohu.com',
       'businesswire.com', 'slideshare.net', 'parallels.com', 'ebay.com',
       'reuters.com', 'amazon.co.uk', 'ehow.com', 'uol.com.br',
       'miibeian.gov.cn', 'upenn.edu', 'nydailynews.com', 'hc360.com',
       'narod.ru', 'liveinternet.ru', 'vinaora.com', 'opera.com',
       'dagondesign.com', 'ezinearticles.com', 'issuu.com', 'amazon.de',
       'yahoo.com', 'tuttocitta.it', 'epa.gov', 'pinterest.com',
       'ebay.co.uk', 'live.com', 'seesaa.net', 'plala.or.jp', 'webs.com',
       'macromedia.com', 'weebly.com', 'wiley.com', 'hhs.gov', 'fc2.com',
       'tumblr.com', 'hexun.com', 'cbslocal.com', 'prnewswire.com',
       'paginegialle.it', 'cdbaby.com', 'list-manage.com',
       'deviantart.com', 'shutterfly.com', '4shared.com',
       'creativecommons.org', 'intel.com', 'amazon.co.jp',
       'fastcompany.com', 'dion.ne.jp', 'i2i.jp', 'meetup.com',
       'illinois.edu', 'bloomberg.com', 'whitehouse.gov',
       'washington.edu', 'so-net.ne.jp', 'phpbb.com', 'vimeo.com',
       'yellowpages.com', 'comsenz.com', 'ameblo.jp', '1688.com',
       'privacy.gov.au', 'friendfeed.com', 'blogs.com', 'unicef.org',
       'disqus.com', 'bandcamp.com', 'auda.org.au', 'paypal.com',
       'discovery.com', 'nature.com', 'slashdot.org', 'cpanel.net',
       'google.fr', 'hatena.ne.jp', 'mediafire.com', 'mit.edu',
       'eventbrite.com', 'facebook.com', 'mtv.com', 'printfriendly.com',
       'moonfruit.com', 'businessinsider.com', 'fema.gov', 'apple.com',
       'ocn.ne.jp', 'topsy.com', 'usnews.com', 'imageshack.us',
       'geocities.com', 'pcworld.com', 'mapquest.com', 'mapy.cz',
       'ask.com', 'cafepress.com', 'google.ru', 'army.mil', 'archive.org',
       'icq.com', 'ovh.net', 'netvibes.com', 'google.pl', 'hibu.com',
       'pbs.org', 'ning.com', 'examiner.com', 'jigsy.com', 't.co',
       'usa.gov', 'chron.com', 'lulu.com', 'huffingtonpost.com',
       'xinhuanet.com', 'livejournal.com', 'last.fm', 'samsung.com',
       'blogtalkradio.com', 'yelp.com', 'google.de', 'msu.edu',
       'tinypic.com', 'taobao.com', 'nationalgeographic.com',
       'scientificamerican.com', 'google.es'], dtype=object)

In [12]:
unigue_values_counts = df['domain'].value_counts()
unigue_values_counts

domain
netlog.com         8
oakley.com         8
usgs.gov           7
netscape.com       6
virginia.edu       6
                  ..
hc360.com          1
scribd.com         1
liveinternet.ru    1
vinaora.com        1
google.es          1
Name: count, Length: 435, dtype: int64

Задача 4

In [15]:
import numpy as np
df['age'] = np.random.randint(18, 66, size = len(df))
df

,id,first_name,last_name,email,gender,ip_address,domain,age
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,buzzfeed.com,64
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,dyndns.org,49
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,dyndns.org,55
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,psu.edu,59
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,prlog.org,54
...,...,...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,craigslist.org,51
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,nydailynews.com,39
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,jugem.jp,64
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,discovery.com,35
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,google.es,21

In [23]:
df_18_25 = df.query('age >= 18 & age <= 25')
df_18_25

,id,first_name,last_name,email,gender,ip_address,domain,age
6,7,Tanhya,Allabarton,tallabarton6@eepurl.com,Female,71.244.198.196,eepurl.com,24
11,12,Deina,Frisdick,dfrisdickb@bbc.co.uk,Female,146.176.89.94,bbc.co.uk,24
16,17,Humfried,Ohanessian,hohanessiang@wufoo.com,Male,16.207.33.214,wufoo.com,22
21,22,North,Egre,negrel@simplemachines.org,Non-binary,234.233.47.238,simplemachines.org,24
49,50,Nickie,Enga,nenga1d@tmall.com,Female,186.167.117.158,tmall.com,21
...,...,...,...,...,...,...,...,...
971,972,Josselyn,Wortman,jwortmanqz@upenn.edu,Female,247.212.179.8,upenn.edu,18
977,978,Boothe,Delahunt,bdelahuntr5@apache.org,Male,212.190.210.160,apache.org,20
981,982,Orton,Bleue,obleuer9@usa.gov,Male,254.62.81.71,usa.gov,18
983,984,Claudina,Savery,csaveryrb@smh.com.au,Non-binary,135.123.30.141,smh.com.au,23
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,google.es,21

In [30]:
count_18_25 = df_18_25['id'].count()
av_age_18_25 = df_18_25['age'].mean()
print(f'Количество пользователей: {count_18_25}. Средний возраст: {av_age_18_25:.2f}')

Количество пользователей: 170. Средний возраст: 21.43

In [31]:
df_26_35 = df.query('age >= 26 & age <= 35')
df_26_35

,id,first_name,last_name,email,gender,ip_address,domain,age
10,11,Melosa,Boneham,mbonehama@quantcast.com,Female,176.120.71.216,quantcast.com,35
12,13,Conrad,Ceillier,cceillierc@squarespace.com,Male,77.176.126.146,squarespace.com,30
13,14,Nev,Lavies,nlaviesd@si.edu,Male,21.101.254.200,si.edu,27
25,26,Ysabel,Aitchinson,yaitchinsonp@woothemes.com,Female,162.207.227.183,woothemes.com,34
27,28,Barnabe,Dutteridge,bdutteridger@redcross.org,Male,180.29.243.79,redcross.org,31
...,...,...,...,...,...,...,...,...
972,973,Agustin,Spurdens,aspurdensr0@apple.com,Male,60.99.178.59,apple.com,31
973,974,Thomasine,Pendrich,tpendrichr1@dailymotion.com,Genderqueer,175.199.197.138,dailymotion.com,33
991,992,Chaunce,Askie,caskierj@fc2.com,Male,36.3.185.58,fc2.com,28
994,995,Ibbie,Appleby,iapplebyrm@alibaba.com,Genderqueer,236.77.139.163,alibaba.com,30
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,discovery.com,35

In [32]:
count_26_35 = df_26_35['id'].count()
av_age_26_35 = df_26_35['age'].mean()
print(f'Количество пользователей: {count_26_35}. Средний возраст: {av_age_26_35:.2f}')

Количество пользователей: 197. Средний возраст: 30.59

In [33]:
df_36_50 = df.query('age >= 36 & age <= 50')
df_36_50

,id,first_name,last_name,email,gender,ip_address,domain,age
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,dyndns.org,49
9,10,Blanche,Akehurst,bakehurst9@newsvine.com,Female,219.148.148.134,newsvine.com,48
14,15,Hyacinth,Keuntje,hkeuntjee@about.com,Female,226.2.36.254,about.com,39
15,16,Mamie,Wainwright,mwainwrightf@studiopress.com,Female,163.100.199.174,studiopress.com,47
19,20,Donal,Cosgrove,dcosgrovej@walmart.com,Male,234.120.141.220,walmart.com,40
...,...,...,...,...,...,...,...,...
984,985,Lula,Almon,lalmonrc@nationalgeographic.com,Female,142.209.10.99,nationalgeographic.com,41
986,987,Claudell,Mishaw,cmishawre@virginia.edu,Male,130.216.35.76,virginia.edu,42
992,993,Chantalle,Mogra,cmogrark@etsy.com,Agender,7.157.7.35,etsy.com,50
993,994,Morganica,Pierton,mpiertonrl@epa.gov,Female,150.213.150.57,epa.gov,42
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,nydailynews.com,39

In [34]:
count_36_50 = df_36_50['id'].count()
av_age_36_50 = df_36_50['age'].mean()
print(f'Количество пользователей: {count_36_50}. Средний возраст: {av_age_36_50:.2f}')

Количество пользователей: 300. Средний возраст: 43.13

In [36]:
df_51 = df.query('age >= 51')
df_51

,id,first_name,last_name,email,gender,ip_address,domain,age
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,buzzfeed.com,64
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,dyndns.org,55
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,psu.edu,59
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,prlog.org,54
5,6,Poppy,Kinnard,pkinnard5@mozilla.org,Female,246.66.172.88,mozilla.org,54
...,...,...,...,...,...,...,...,...
988,989,Suki,Ashbe,sashberg@scientificamerican.com,Female,47.153.122.2,scientificamerican.com,53
989,990,Francesca,Shorrock,fshorrockrh@creativecommons.org,Female,168.4.169.89,creativecommons.org,53
990,991,Boone,Gerrey,bgerreyri@amazon.de,Male,191.139.46.86,amazon.de,63
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,craigslist.org,51
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,jugem.jp,64

In [38]:
count_51 = df_51['id'].count()
av_age_51 = df_51['age'].mean()
print(f'Количество пользователей: {count_51}. Средний возраст: {av_age_51:.2f}')

Количество пользователей: 333. Средний возраст: 57.89