База данных. Задача 1

In [2]:
import pandas as pd
import sqlite3
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('select * from clients', conn)
 
df
av_age = df.groupby('city')['age'].mean()
av_age_df = pd.DataFrame(av_age)
av_age_Minsk = av_age_df.query('city == "Минск"')
av_age_Minsk

        age
city
Минск  31.5

База данных. Задача 2

In [3]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('select * from balance', conn)
    df1 = pd.read_sql('select * from clients', conn)

clients_1000 = df.query('amount > 1000')
result_clients_1000 = pd.merge (clients_1000, df1, on='client_id')
result_clients_1000

   client_id  amount       name  age     city  account_number
0          2    1500  Екатерина   28   Москва            1002
1          4    2000     Михаил   37  Витебск            1004
2          5    1200    Евгения   29    Минск            1005

База данных. Задача 3

In [4]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('select * from transactions', conn)

type_transaction = df.groupby('type')['transaction_id'].count()
type_transaction

type
deposit       5
withdrawal    5
Name: transaction_id, dtype: int64

База данных. Задача 4

In [5]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('select * from transactions', conn)
    df1 = pd.read_sql('select * from clients', conn)

client_transactions = df.groupby('client_id')['amount'].min()
client_transactions_df = pd.DataFrame(client_transactions)
clients = pd.merge(client_transactions_df, df1, on='client_id')
clients_sorted = clients.sort_values(by='amount')
client = clients_sorted.iloc[0]
client

client_id               4
amount                -70
name               Михаил
age                    37
city              Витебск
account_number       1004
Name: 3, dtype: object

API. Задача 1

In [7]:
import requests
with requests.Session() as session:
    response1 = session.get('https://api.spacexdata.com/v3/capsules')
    if response1.status_code == 200:
        print('Все хорошо!')

df = pd.DataFrame(response1.json())
capsules_type = df.groupby('type')['capsule_id'].count()
capsules_type

Все хорошо!

type
Dragon 1.0    4
Dragon 1.1    9
Dragon 2.0    6
Name: capsule_id, dtype: int64